

<div class="background-container bg-cover bg-center bg-no-repeat  ">
    <div class="fondoHome">
        <img src="assets/images/integrateb-banner-1.png" alt="bannerr integrateb">
    </div>
 </div>   

 <div class="cta-gradient-section-new">
    <div class="cta-section">
        <div class="cta-container">
          <div class="cta-image-wrapper">
            <img src="assets/images/banner3.png" class="cta-image" alt="bannerr integrateb">
          </div>
          <div class="cta-content">
            <h1 class="cta-title">¡Bienvenid&#64;s a IntegrateB!</h1>
            <div class="cta-text">
              <p>
                IntegrateB es una plataforma comprometida con la integración social y el acercamiento a la cultura de las personas migrantes. Nuestro propósito es ayudar a construir puentes entre comunidades, fomentar el respeto y el entendimiento mutuo, y crear un ambiente inclusivo para todos.
              </p>
            </div>
            <button type="button" class="cta-button">Contacta con nosotros</button>
          </div>
        </div>
      </div>
 </div>

 <div class="relative mx-auto h-full px-4  pb-20   md:pb-10 sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8">
  <div class="flex flex-col items-center justify-between lg:flex-row py-16">
      <div class=" relative ">
          <div class="lg:max-w-xl lg:pr-5 relative z-40">
              <p class="flex text-sm uppercase text-g1  ">
                  Sobre Nosotros
              </p>

              <h2 class="mb-6 max-w-lg text-5xl font-light leading-snug tracking-tight text-g1 sm:text-7xl sm:leading-snug">
                  Por una sociedad más igualitaria
                  <hr>
                  <span class="my-1 inline-block font-bold text-g4 animate__animated animate__flash">
                      Integrateb
                  </span>
              </h2>

              <p class="text-base text-gray-700">
                  La innovadora platadorma web para acercar a las personas migrantes a nuestra cultura, idiomas y costumbres.
              </p>
          </div>
          
          
      </div>
      <div class="relative hidden lg:ml-32 lg:block lg:w-1/2">
          <div class="abg-orange-400 mx-auto w-fit rounded-[6rem] rounded-br-none rounded-tl-none">
              <img id="imagen1" src="assets/images/banner4.png" alt="Foto logo principal de la pagina integrateb">
          </div>
      </div>
  </div>
</div> 

  <div class="cta-gradient-section-new">
    <div class="cta-content-wrapper-new">
      <h1 class="cta-title-new">Descubre cómo IntegrateB puede ayudarte</h1>
      <div class="cta-description-new">
        <p>En IntegrateB, estamos comprometidos con la integración social y el acercamiento a la cultura para personas migrantes. Nos dedicamos a crear oportunidades que fortalezcan los lazos culturales y promuevan el entendimiento mutuo en nuestra comunidad.</p>
      </div>
  
      <hr class="cta-divider-new" />
  
      <div class="cta-buttons-new">
        <button type="button" class="cta-button-new primary">Saber más</button>
        <a routerLink="/dashboard" type="button" class="cta-button-new secondary">Ir al dashboard</a>
      </div>
    </div>
  </div>
  
  <!--PENDIENTE DE ADAPTAR ESTA PARTE A SCCS ATT EDU-->

  <div class="max-w-7xl mx-auto font-[sans-serif] p-20 talleres-container-principal">
    <div class="text-center max-w-2xl mx-auto">
        <h2 class="text-gray-800 sm:text-3xl text-2xl font-extrabold">
          Nuestros Cursos y Talleres
        </h2>
        <p class="text-sm text-gray-600 mt-6 leading-relaxed">
          Ofrecemos distintos talleres y herramientas diseñadas para facilitar la integració social en nuestras comunidades.
        </p>
    </div>

    <div class="talleres-container">
      <div class="taller-card">
          <div class="image-container">
              <img src="assets/images/taller1.png" alt="Imagen del curso 1">
          </div>
          <h3>Introducción a la Cultura Española</h3>
          <p>Conoce las costumbres y tradiciones de España para una integración más sencilla.</p>
      </div>
  
      <div class="taller-card">
          <div class="image-container">
              <img src="assets/images/taller2.png" alt="Imagen del curso 2">
          </div>
          <h3>Curso Básico de Lengua Catalana</h3>
          <p>Aprende los fundamentos del catalán para facilitar la comunicación en Cataluña.</p>
      </div>
  
      <div class="taller-card">
          <div class="image-container">
              <img src="assets/images/taller3.png" alt="Imagen del curso 3">
          </div>
          <h3>Iniciación a la Lengua y Cultura Gallega</h3>
          <p>Conoce las tradiciones y el idioma gallego para una mejor adaptación en Galicia.</p>
      </div>

      <div class="taller-card">
        <div class="image-container">
            <img src="assets/images/taller4.png" alt="Imagen del curso 4">
        </div>
        <h3>Derechos y Deberes para Migrantes en España</h3>
        <p>Aprende sobre tus derechos y obligaciones como residente en España.</p>
    </div>

    <div class="taller-card">
        <div class="image-container">
            <img src="assets/images/taller5.png" alt="Imagen del curso 5">
        </div>
        <h3>Curso de Señales y Normas de Tráfico</h3>
        <p>Familiarízate con las señales y normas de tráfico para una movilidad segura.</p>
    </div>

    <div class="taller-card">
        <div class="image-container">
            <img src="assets/images/taller6.png" alt="Imagen del curso 6">
        </div>
        <h3>Recursos Comunitarios y Sociales</h3>
        <p>Descubre los servicios y recursos disponibles para los migrantes en tu comunidad.</p>
    </div>
  
  </div>
    
</div>

<div class="value-proposition-container cta-gradient-section-new">

    <div class="value-proposition-wrapper">

    <header>
        <h2 class="value-proposition-title">Nuestra Apuesta por la Integración</h2>
        <p class="value-proposition-description">
            En nuestra propuesta de valor, destacamos nuestro compromiso con la inclusión, el bienestar y el desarrollo social. 
            Creemos en la importancia de crear un entorno en el que todos puedan prosperar. 
            Estos son nuestros valores fundamentales que guían nuestras acciones:
        </p>
    </header>

    <section class="value-proposition-grid">
        <article class="value-item">
            <h3 class="value-item-title">Inclusión y Diversidad</h3>
            <p class="value-item-description">
                Fomentamos un entorno inclusivo en el que personas de todas las procedencias se sientan bienvenidas y valoradas. Nos esforzamos por promover la diversidad en cada aspecto de nuestro trabajo.
            </p>
        </article>

        <article class="value-item">
            <h3 class="value-item-title">Apoyo Comunitario</h3>
            <p class="value-item-description">
                Nos comprometemos a fortalecer las comunidades locales, proporcionando recursos y programas que apoyan el crecimiento, el desarrollo y la cohesión social.
            </p>
        </article>

        <article class="value-item">
            <h3 class="value-item-title">Empoderamiento Social</h3>
            <p class="value-item-description">
                Trabajamos para equipar a las personas con las habilidades y conocimientos necesarios para alcanzar sus metas, promoviendo la autosuficiencia y el progreso personal.
            </p>
        </article>

        <article class="value-item">
            <h3 class="value-item-title">Responsabilidad Social y Sostenibilidad</h3>
            <p class="value-item-description">
                Adoptamos prácticas responsables y sostenibles que contribuyen al bienestar de la sociedad y al cuidado del medio ambiente, asegurando un impacto positivo en cada acción.
            </p>
        </article>

    </section>

  </div>
</div>

    <!-- Sección de Soportes -->
    <div class="supports hidden">
        <div class="supports-grid">
          <img src="assets/images/gob1_info.png" alt="Imagen 1" class="supports-image">
          <img src="assets/images/rm_log.jpg" alt="Imagen 2" class="supports-image">
          <img src="assets/images/gob1_info_eu.png" alt="Imagen 3" class="supports-image">
        </div>
      </div>