.flashcards{
    overflow: hidden;

    width: auto;
    min-height: 20rem;
    height: fit-content;  
    background-color: rgb(236, 223, 180);
    z-index: 40;
    padding-bottom: 5rem;
    
    display: grid;
    grid-template-columns: 5rem 5rem auto 10rem;
    grid-template-rows: auto-fit auto-fit auto-fit;

    .flechaAtras{
        grid-column: 1;
        grid-row: 1;

        margin: 5rem 0 0 5rem;

        svg {
            width: 5rem;

            &:hover { 
                width: 5.5rem;
            }
        }
    }
    
    .contadorTiempo{
        grid-column: 2;
        grid-row: 1;

        display: flex;

        width: 5rem;
        margin-left: 5rem;
        margin-top: 5rem;

        span{
            font-size: 2rem;
            font-weight: 500;
            color: rgb(0, 0, 0);
        }
    }

    .flashcards-texto{
        grid-column: 3;
        grid-row: 2;

        justify-items: center;
        justify-content: center;
        text-align: center;

        font-size: 5rem;
        font-weight: 500;
        color: rgb(0, 0, 0);
    }

    input{
        grid-column: 3;
        grid-row: 3;
        padding: 0 5rem 0 5rem;
        margin: 5rem 10rem 0 10rem;

        width: auto-fill;
        height: 5rem;

        border-width: 0.1rem;
        border-style: groove;
        border-color: rgb(0, 0, 0);
        border-radius: 1rem;

        box-shadow: 1px 1px 20px 0 #000000;

        &:hover {
            border-width: 0.2rem;
        }

    }

    .botonEnviar{
        grid-column: 3;
        grid-row: 3;

        width: 5rem;
        height: 5rem;
        
        justify-content: center;
        align-items: center;

        background-color: antiquewhite;
        box-shadow: 1px 1px 20px 0 #000000;

        border-width: 0.1rem;
        border-style: groove;
        border-color: rgb(0, 0, 0);
        border-radius: 1rem;

        &:hover {
            border-width: 0.2rem;
        }
    }
  }