<!-- component -->
<div class="flex w-screen h-screen text-gray-700">

	<!-- Component Start -->

            <div class="flex flex-col w-56 border-r border-gray-300">

                <button class="relative text-sm focus:outline-none group">
                    <div class="flex items-center justify-between w-full h-16 px-4 border-b border-gray-300 hover:bg-gray-300">
                        
                        <a class="flex items-center flex-shrink-0 h-10 px-2 text-sm font-medium rounded hover:bg-gray-300" href="#">
                            <span class="font-medium">
                                Volver atrás
                            </span> 
                        </a>
                    </div>   
                </button>

            </div>
            
            <div class="flex flex-col flex-grow">
                <div class="flex items-center flex-shrink-0 h-16 px-8 border-b border-gray-300">
                    <h1 class="text-lg font-medium">Dashboard</h1>
            </div>

            <div class="dasboardContainer">
                
                <div class="dashboardItem">
                    <span>Talleres</span>
                </div>

                <div class="dashboardItem">
                    <a href="/dashboard/flashcards">
                        <span>Flashcards</span>
                    </a>
                </div>

                <div class="dashboardItem">
                    <span>Item3</span>
                </div>


            </div>

</div>

