<div class="dasboard_Container">

    
    <div class="dasboardHeaderContainer">
        <a class="" routerLink="/">
                Volver atrás
        </a>
        
        <div class="mainTitleContainer">
            <h1 class="mainTitle">Dashboard</h1>
            <p>Todos nuestros talleres y herramientas</p>
        </div>
    </div>
    
            <div class="dasboard_main_Container">
                
                <div class="dashboardItem">
                    <a routerLink="/dashboard/talleres">
                        <div class="containerImage">
                            <img src="/assets/images/talleres.png" alt="imagen flashcard integrateb">
                        </div>
                        <h3>Talleres</h3>
                        <p>Aqui encontrarás todo tipo de talleres, cursos y formaciones para acercarnos mutuamente</p>
                    </a>
                </div>

                <div class="dashboardItem">
                    <a routerLink="/dashboard/Casosdeexito">
                        <div class="containerImage">
                            <img src="/assets/images/casosdeexito.png" alt="imagen flashcard integrateb">
                        </div>
                        <h3>Casos de éxito</h3>
                        <p>Conoce historias de éxito de personas migrantes que han mejorado su vida integrandose en nuestra sociedad</p>
                    </a>
                </div>

                <div class="dashboardItem">
                    <a routerLink="/dashboard/flashcards">
                        <div class="containerImage">
                            <img src="/assets/images/flashcards.png" alt="imagen flashcard integrateb">
                        </div>
                        <h3>Flashcards</h3>
                        <p>Herramienta interactiva que ha demostrado un gran resultado y adaptabilidad según los últimos estudios</p>
                    </a>
                </div>  

                <div class="dashboardItem">
                    <a routerLink="/dashboard/Ofertasdetrabajo">
                        <div class="containerImage">
                            <img src="/assets/images/ofertastrabajo.png" alt="imagen flashcard integrateb">
                        </div>
                        <h3>Ofertas de trabajo</h3>
                        <p>Aqui encontrarás #jobOpportunities dirigadas a personas migrantes para ayudarlas a integrarse en el mundo laboral</p>
                    </a>
                </div>

            </div>

</div>

