
.containerMainPage{
    width: 100%;
}

.background-container {
    background-color: rgb(236, 223, 180);
    z-index: 40;
    max-width: screen;
    width: 100%;

    #imagen1 {
        transition: filter 0.4s ease-in-out, border-radius 0.6s ease-in-out, border-width 0.6s ease-in-out;

        &:hover {
            filter: blur(1px); 
            border-radius: 50%;
            border-width: 1rem;
            border-style: hidden;
        }
    }

}

.fondoHome {
    width: 100%;

    background-size: cover;
    

    img{
        width: 100%;
        height: auto;

        transition: filter 0.8s ease-in-out;

        &:hover {
            filter: blur(1px) saturate(2);
        }
    }
    
}


h2 {
    font-size: 5rem;
    line-height: 1;

    span{
        padding-top: 1rem;

        transition: filter 0.2s ease-in-out;

        &:hover{
            filter: blur(3px); 
            letter-spacing: 0.7rem;
        }
    }
  }

  .flashcards{
    overflow: hidden;

    width: auto;
    min-height: 20rem;
    height: fit-content;  
    background-color: rgb(236, 223, 180);
    z-index: 40;
    padding-bottom: 5rem;
    
    display: grid;
    grid-template-columns: 5rem auto 10rem;
    grid-template-rows: auto-fit auto-fit auto-fit;
    
    .contadorTiempo{
        grid-column: 1;
        grid-row: 1;

        display: flex;

        width: 5rem;
        margin-left: 5rem;
        margin-top: 5rem;

        span{
            font-size: 2rem;
            font-weight: 500;
            color: rgb(0, 0, 0);
        }
    }

    .flashcards-texto{
        grid-column: 2;
        grid-row: 2;

        justify-items: center;
        justify-content: center;
        text-align: center;

        font-size: 5rem;
        font-weight: 500;
        color: rgb(0, 0, 0);
    }

    input{
        grid-column: 2;
        grid-row: 3;
        padding: 0 5rem 0 5rem;
        margin: 5rem 10rem 0 10rem;

        width: auto-fill;
        height: 5rem;

        border-width: 0.1rem;
        border-style: groove;
        border-color: rgb(0, 0, 0);
        border-radius: 1rem;

        box-shadow: 1px 1px 20px 0 #000000;

        &:hover {
            border-width: 0.2rem;
        }

    }
  }